build/
autoconf/
CMakeFiles/
autom4te.cache/
demo-*
configure
configure.lineno
config.h.in
INSTALL
Makefile
Makefile.in
aclocal.m4
cmake_*
CMakeCache.txt
config.h
config.h.in
config.log
config.status
libtool
stamp-h1
server/*.test
server/sipw
utils/sippasswd
utils/sipwitch
sipwitch-cgi
sipwitch-config
sipwitch-config.h
sipwitch-config.h.in
utils/sipquery
switchview/switchview
utils/sipwitch-cgi
sippasswd
sipquery
sipwitch
moc_*.c*
qrc_*.c*
ui_*.c*
ui_*.h
*.cbp
*.depends
*.a
*.o
*.lo
*.la
*.so*
*.authors
*.kdev4
*.deps
*.libs
*.pc
*.spec
*.rpm
*.tar.gz
*.changes
*.dsc
*.zip
*~

