
[Desktop Entry]
Encoding=UTF-8
Name=switchview
Comment=Application for managing sipwitch services
Exec=switchview
Terminal=false
Type=Application
Icon=switchview
StartupNotify=false
X-Desktop-File-Install-Version=0.15
Categories=Monitor;System;
