[Unit]
Description=GNU SIP Witch, a SIP telephony service daemon.
After=network.target

[Service]
Type=forking
PIDFile=/var/run/sipwitch/pidfile
EnvironmentFile=-/etc/conf.d/sipwitch
EnvironmentFile=-/etc/sysconfig/sipwitch
EnvironmentFile=-/etc/default/sipwitch
ExecStartPre=-/bin/rm -f /var/run/sipwitch/control
ExecStart=/usr/sbin/sipw ${OPTIONS:--b}
ExecStop=/bin/bash -c 'echo down > /var/run/sipwitch/control'
ExecStopPost=sleep 3
Restart=always

[Install]
WantedBy=multi-user.target
