[Unit]
Description=GNU SIP Witch, a SIP telephony service daemon.
After=syslog.target network.target
Before=bayonne.service

[Service]
Type=notify
PIDFile=/var/run/sipwitch/pidfile
EnvironmentFile=-/etc/conf.d/sipwitch
EnvironmentFile=-/etc/sysconfig/sipwitch
EnvironmentFile=-/etc/default/sipwitch
ExecStartPre=-/bin/rm -f /var/run/sipwitch/control
ExecStart=/usr/sbin/sipw -f $OPTIONS
Restart=always
NotifyAccess=main

[Install]
WantedBy=multi-user.target
